server {
    listen 80;
    location / {
        proxy_pass http://localhost:2001;
    }
    location /uploads {
        alias /root/Forum/user_image;
        expires 30d;
    }
    location /static {
        alias /root/Forum/static;
        expires 30d;
    }
}
