server {
    listen 80;
    location / {
        proxy_pass http://localhost:2001;
    }
    location /uploads {
        alias /root/forum/user_image;
    }
    location /static {
        alias /root/forum/static;
    }
    location ~*  \.(jpg|jpeg|png|gif|ico|css|js)$ {
        expires 30d;
    }
}
