{% extends "topic/base.html" %}
{% block content %}
    <div id="content">
        <div class="panel">
                <div class="header">
                    <div class="cell">
                        搜索结果:
                    </div>
                </div>
                <div class="inner no-padding">
                    {% if ms == [] %}
                    <div class="cell">
                    <p class="user_avatar pull-left">搜索无结果，请重新输入关键字！</p>
                    </div>
                    {% else %}
                    <div class="topic_list">
                        {% for t in ms %}
                            <div class="cell">
                                <a class="user_avatar pull-left" href="{{ url_for('index.profile', username=t.user().username) }}"> <img src="{{ t.user().user_image }}" title={{  t.user().username }} >
                                </a>

                                <span class="reply_count pull-left">
                                    <span class="count_of_replies" title="回复数">{{ t.replies() | count }}</span>
                                    <span class="count_seperator">/</span>
                                    <span class="count_of_visits" title="点击数">{{ t.views }}</span>
                                </span>

                                {% set replies = t.replies() %}
                                {% if replies != [] %}
                                {% set lastReply = replies | last %}
                                <a class="last_time pull-right" href="{{ url_for('index.profile', username=lastReply.user().username) }}"> <img class="user_small_avatar" src="{{ lastReply.user().user_image }}"> <span class="last_active_time">{{ lastReply.time_str('ct') }}</span>
                                </a>
                                {% endif %}

                                <div class="topic_title_wrapper">
                                    <span class="topiclist-tab">{{ t.board().title }}</span>
                                    <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}" title="{{ t.title }}"> {{ t.title }} </a>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination" current_page="{{ page_index }}">
                        <ul>
                            <li><a href="{{ url_for('topic.index', page=1) }}">«</a></li>
                            {% if page_index > 3 %}
                            <li><a>...</a></li>
                            {% endif %}
                            {% if page_index < 3 %}
                            {% set index = 3 %}
                            {% else %}
                            {% set index = page_index %}
                            {% endif %}
                            {% for page in range(index-2, index+3) %}
                            {% if page > 0 and page <= max_page %}
                            <li><a href="{{ url_for('topic.index',  page=page) }}">{{ page }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_index < max_page-2 %}
                            <li><a>...</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('topic.index',  page=max_page) }}">»</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}
